<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HanGOmanWeb</title>
    <link rel="stylesheet" href="/front-end/gameStyle.css">
</head>
<body>
<a class="pauseButton" href="#pause" >⏸</a>
<div class="hangman">
    <h1>{{.Word}}</h1>
    <p id="attempts">{{.Attempts}} essais restants</p>
    <p id="alreadyUsed">Déja utilisé : {{.AlreadyTried}}</p>
    <img src="/front-end/assets/images/hangmanPos/hangman{{.StrAttempts}}.png" alt="Hangman Position">
</div>
<br>
<form method="post" action="/game">
<div class="alphabet-table">
    <input class="alphabet-button" name="word" type="submit" value="a">
    <input class="alphabet-button" name="word" type="submit" value="b">
    <input class="alphabet-button" name="word" type="submit" value="c">
    <input class="alphabet-button" name="word" type="submit" value="d">
    <input class="alphabet-button" name="word" type="submit" value="e">
    <input class="alphabet-button" name="word" type="submit" value="f">
    <input class="alphabet-button" name="word" type="submit" value="g">
    <input class="alphabet-button" name="word" type="submit" value="h">
    <input class="alphabet-button" name="word" type="submit" value="i">
    <input class="alphabet-button" name="word" type="submit" value="j">
    <input class="alphabet-button" name="word" type="submit" value="k">
    <input class="alphabet-button" name="word" type="submit" value="l">
    <input class="alphabet-button" name="word" type="submit" value="m">
    <input class="alphabet-button" name="word" type="submit" value="n">
    <input class="alphabet-button" name="word" type="submit" value="o">
    <input class="alphabet-button" name="word" type="submit" value="p">
    <input class="alphabet-button" name="word" type="submit" value="q">
    <input class="alphabet-button" name="word" type="submit" value="r">
    <input class="alphabet-button" name="word" type="submit" value="s">
    <input class="alphabet-button" name="word" type="submit" value="t">
    <input class="alphabet-button" name="word" type="submit" value="u">
    <input class="alphabet-button" name="word" type="submit" value="v">
    <input class="alphabet-button" name="word" type="submit" value="w">
    <input class="alphabet-button" name="word" type="submit" value="x">
    <input class="alphabet-button" name="word" type="submit" value="y">
    <input class="alphabet-button" name="word" type="submit" value="z">
</div>
</form>
<form action="" method="post" class="wordInput">
    <label class="wordInput" for="word"></label><br>
    <input class="wordInput" type="text" id="word" name="word" placeholder="Entrez votre choix ci-dessous" required>
    <input class="wordInput" type="submit" id="send" value="Envoyer">
</form>
<div id="pause" class="popupGamePage">
    <div class="popupGamePageContent">
        <a id="replay" class="alphabet-button" href="/game">Rejouer</a>
        <a id="replay" class="alphabet-button" href="/">Menu Principal</a>
    </div>
    <a href="/game" class="popupGamePageClose">❌</a>
</div>
</body>
</html>