<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HanGOmanWeb</title>
    <link rel="stylesheet" href="/front-end/style.css">
</head>
<body>
<img id="logo" src="/front-end/assets/images/HanGOmanWeb.png" alt="HanGOmanWeb logo"/>
<div class="mainMenuButtons">
    <a class="mainMenuButtons" href="#demo">
        Jouer
    </a>
    <br><br>
    <a class="mainMenuButtons" href="https://raw.githubusercontent.com/De3stro/galerie-myst-re/refs/heads/main/%C3%A7a%20arrive%20fort.png">
        Comment jouer
    </a>
    <br><br>
    <a class="mainMenuButtons" href="https://raw.githubusercontent.com/De3stro/galerie-myst-re/refs/heads/main/%C3%A7a%20arrive%20fort.png">
        Tableau des scores
    </a>
</div>
<div id="demo" class="modal">
    <div class="modal_content">
        <label class="pseudoInput" for="pseudo">Votre pseudo :</label><br>
        <input class="pseudoInput" type="text" id="pseudo" name="pseudo" placeholder="Ex: Robert">
        <div class="difficulty">
        <p>Choisissez la difficulté : </p>
        <div class="popupMainMenuButtons">
            <a id="easy" href="/front-end/game.gohtml" type="submit">Facile</a>
            <a id="medium" href="/front-end/game.gohtml" type="submit">Moyen</a>
            <a id="hard" href="/front-end/game.gohtml" type="submit">Force à toi</a>
        </div>
        </div>
    </div>
    <a href="#" class="modal_close">❌</a>
</div>
</body>
</html>