<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HanGOmanWeb</title>
    <link rel="stylesheet" href="/front-end/style.css">
</head>
<body>
<img id="logo" src="/front-end/assets/images/HanGOmanWeb.png" alt="HanGOmanWeb logo"/>
<div class="mainMenuButtons">
    <a class="mainMenuButtons" href="#popupMenuMain">
        Jouer
    </a>
    <br><br>
    <a class="mainMenuButtons" href="/front-end/how-to-play.gohtml">
        Comment jouer
    </a>
    <br><br>
    <a class="mainMenuButtons" href="https://raw.githubusercontent.com/De3stro/galerie-myst-re/refs/heads/main/%C3%A7a%20arrive%20fort.png">
        Tableau des scores
    </a>
</div>
<div id="popupMenuMain" class="modal">
    <div class="modal_content">
        <form method="post">
        <label class="pseudoInput" for="pseudo">Votre pseudo :</label><br>
        <input class="pseudoInput" type="text" id="pseudo" name="pseudo" placeholder="Ex: Robert">
        <div class="difficulty">
        <p>Choisissez la difficulté : </p>
        <div class="popupMainMenuButtons">
            <button id="easy" name="difficulty" value="./internal/hangman-classic/data/words.txt" type="submit">Facile</button>
            <button id="medium" name="difficulty" value="./internal/hangman-classic/data/words2.txt" type="submit">Moyen</button>
            <button id="hard" name="difficulty" value="./internal/hangman-classic/data/words3.txt" type="submit">Force à toi</button>
        </div>
        </div>
        </form>
    </div>
    <a href="#" class="modal_close">❌</a>
</div>
</body>
</html>