<html>
<head>
    <meta charset="UTF-8">
    <title>HanGOmanWeb</title>
    <link rel="stylesheet" href="/front-end/style.css">
</head>
<body>
<img id="logo" src="/front-end/assets/images/HanGOmanWeb.png" alt="HanGOmanWeb logo"/>
<div class="mainMenuButtons">
    <a  href="https://google.com">Jouer</a>
    <br><br>
    <a  href="https://raw.githubusercontent.com/De3stro/galerie-myst-re/refs/heads/main/%C3%A7a%20arrive%20fort.png">Comment jouer</a>
</div>
</body>
</html>
