<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/front-end/leaderboard.css">
<body>
<div class="leaderboard">
    <h1>🏆 Classement</h1>
    <table>
        <tr>
            <th>Pseudo</th>
            <th>Tentatives</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Nickname}}</td>
            <td>{{.Attemps}}</td>
        </tr>
    </table>
</div>
</body>
</html>
