    @font-face {
        font-family: "River Adventurer";
        src: url("/front-end/assets/fonts/river_adventurer.ttf");
    }

    body {
        font-family: "River Adventurer", sans-serif;
        background-image: url("assets/images/background.jpg");
        max-width: 50%;
        margin: 0 auto;
        padding: 20px;
        background-color: #f4f4f4;
        text-align: center;
    }
    .leaderboard {
    background-color: #ffffff;
        border-radius: 8px;
        filter: drop-shadow(5px 5px 10px #000000);
    }
    .leaderboard h1 {
        text-align: center;
        color: #333;
        padding: 15px 0;
        border-bottom: 1px solid #eee;
    }
    .leaderboard-list {
        list-style-type: none;
        padding: 0;
    }
    .leaderboard-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        text-align: center;
    }
    .leaderboard-item:last-child {
        border-bottom: none;
    }
    .rank {
        font-weight: bold;
        color: #666;
        margin-right: 15px;
    }
    .player-name {
        flex-grow: 1;
    }
    .score {
        font-weight: bold;
        color: #007bff;
    }
    .rank, .player-name, .score {
        text-align: center;
        margin: 0 10px;
    }