<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/front-end/leaderboard.css">
</head>
<body>
<div class="leaderboard">
    <h1>🏆 Classement</h1>
    <table>
        <tr>
            <th>Pseudo</th>
            <th>Tentatives restantes</th>
            <th>Difficulté</th>
        </tr>

        {{range .}}
        <tr>
            <td>{{.Nickname}}</td>
            <td>{{.Attempts}}</td>
            <td>{{.Difficulty}}</td>
        </tr>
        {{end}}
    </table>
</div>
</body>
</html>
