body {
    background-image: url("../data/images/background.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: revert;
    font-family: "River Adventurer", serif;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    filter: drop-shadow(5px 10px 3px #000000);

}

.mainMenuButtons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 10%;
}

.mainMenuButtons{
    width: 50%;
    align-content: center;
    border-radius: 30px;
    color: black;
    margin-bottom: 10%;
}

a.mainMenuButtons{
    text-align: center;
    border: black 20px solid;
    color: white;
    background: black;
    border-radius: 40px;
}

.popupMainMenuButtons {
    border: black 20px solid;
    color: white;
    background: black;
    border-radius: 40px;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    backface-visibility: hidden;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}
.modal_content {
    text-align: center;
    position: relative;
    background-size: 500px;
    width: 300px;
    border-radius: 30px;
    padding: 1em 0.5em;
}


.modal_close {
    filter: drop-shadow(5px 15px 3px #000000);
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

*.pseudoInput{
    box-sizing: border-box;
}

label.pseudoInput{
    width: 100%;
    max-width: 300px;
    position: relative;
}
input.pseudoInput{
    width: 100%;
    display: flex;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    color: #111;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    height: 58px;
    transform: skew(-3deg, 1deg);
    font-family: 'Knewave', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
}