body {
    background-image: url("../data/images/background.jpg");
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    font-family: "River Adventurer", serif;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    filter: drop-shadow(5px 10px 3px #000000);

}

.mainMenuButtons{
    display: block;
    width: 50%;
    align-content: center;
    border-radius: 30px;
    color: white;
    margin: 5% auto 0;
}

a.mainMenuButtons{
    text-align: center;
    border: black 20px solid;
    color: white;
    background-color: black;
    border-radius: 40px;
}

a.popupMainMenuButtons {
    position: relative;
    margin-left: auto;
    border: black 20px solid;
    border-radius: 30px ;
    color: white;
}

#easy {
    color: greenyellow;
}

#medium {
    color: yellow;
}

#hard {
    color: red;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    backface-visibility: hidden;
    background-image: url("../data/images/wooden_sign.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: auto;

}

.modal:target {
    visibility: visible;
    opacity: 1;
    filter: drop-shadow(5px 10px 3000px #000000);
}

.modal_content {
    text-align: center;
    position: relative;
    border-radius: 30px;
    padding: 1em 0.5em;
    margin-top: 50px;
    justify-content: center;
}

input:placeholder-shown + .difficulty {
    display: none;
}
.modal_close {
    bottom: 35px;
    position: relative;
    text-decoration: none;
    border: #ebb26f;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    background: #ebb26f;
}
*.pseudoInput{
    box-sizing: border-box;
}

label.pseudoInput{
    width: 100%;
    max-width: 300px;
    position: relative;
}
input.pseudoInput{
    width: 100%;
    display: flex;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    color: #111;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    height: 58px;
    transform: skew(-3deg, 1deg);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "River Adventurer", serif;
    margin-top: 20px;
}