body {
    font-family: "River Adventurer", sans-serif;
    background-image: url("assets/images/background.jpg");
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.content {
    background-image: url("assets/images/wooden_sign.webp");
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
}

.title {
    font-size: 100px;
    margin-bottom: 2rem;
    text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
}

#victory {
    color: green;
}

#defeat {
    color: red;
}

.button button {
    background-image: url("assets/images/wooden_sign.webp")
}

.button {
    display :inline-block;
    background-image: url("assets/images/wooden_sign.webp");
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size:1.2rem;
    transition: ease 0.3s;
}

.button:hover {
   transform: scale(1.05);
}